In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [3]:
# Import CSV
la_liga = pd.read_csv('../Getafe_LaLiga2324/Resources/LaLiga 2324.csv')
la_liga.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHomeGoals,FTAwayGoals,FTResult,HomeShots,AwayShots,HomeYellow,AwayYellow,HomeRed,AwayRed
0,SP1,11/8/2023,18:30,Almeria,Vallecano,0,2,A,19,10,1,3,0,0
1,SP1,11/8/2023,21:00,Sevilla,Valencia,1,2,A,9,10,3,2,1,0
2,SP1,12/8/2023,16:00,Sociedad,Girona,1,1,D,15,6,2,5,0,0
3,SP1,12/8/2023,18:30,Las Palmas,Mallorca,1,1,D,5,12,3,2,0,0
4,SP1,12/8/2023,20:30,Ath Bilbao,Real Madrid,0,2,A,7,14,3,1,0,0